* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #0E0E12;
    background-color: #0E0E12;
}

.container {

    max-width: 2000px;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
    max-width: 1500px;
    margin: 0 auto
}

.header-content {

    background-color: black;
    color: #1D923B;
    padding: 20px;
    height: 60px;

    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;


} 

.header-content img {
    height: 50px;
    width: 50px;
    border: rgb(2, 255, 36) solid;
    border-radius: 50px;
    transition: all 0.3s;
    background: linear-gradient(321deg, rgb(0, 46, 9) 0%, rgb(8, 39, 1) 37%, rgb(25, 41, 1) 89%);
    opacity: 0.6;
}

.header-content img:hover {
    transform: scale(1.2);
    opacity: 1;

}

.header-content button {
    border-radius: 12px;
    padding: 5px 15px;
    border: #1D923B solid 2px;
    color: #1D923B;
    opacity: 0.6;

    background: linear-gradient(321deg, rgb(0, 46, 9) 0%, rgb(8, 39, 1) 37%, rgb(25, 41, 1) 89%);
    transition: all 0.3s;

}

.header-content button:hover {
    opacity: 1;

}


.header-content h1 {
    font-size: 16px;

}

.main-container {
    background-color: #2a223a;
    height: 400px;
    margin-top: 130px;
    border-radius: 10px;

    transition: border 0.5s;

}

.radar,
.sweep {
    position: absolute;
}

.radar {
    overflow: hidden;
    top: 40%;
    left: 25%;
    margin: -117px;
    width: 248px;
    height: 248px;
    border-radius: 50%;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
        inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
    background:
        repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px),
        linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
        linear-gradient(#333, #111);
    background-size: 100%, 218px 218px, 218px 218px, 100%;
    border: rgb(2, 255, 36) solid;
    ;
}

.sweep {
    box-sizing: border-box;
    top: 16px;
    left: 16px;
    border-right: solid 1px hsla(145, 50%, 40%, .3);
    width: 108px;
    height: 108px;
    border-radius: 100% 0 0 0;
    transform-origin: 100% 100%;
    background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
    animation: sweep 5s infinite linear;
}

@keyframes sweep {
    to {
        transform: rotate(360deg);
    }
}


.result {
    position: absolute;
    color: white;
    top: 30%;
    right: 40%;

}

.result h2 {
    color: rgb(2, 255, 36);
    margin-bottom: 10px;
    font-size: 40px;
}

.main-container:hover {
    border: 1px rgb(2, 255, 36) solid;
}